.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #2196f3;
  padding: 10px;
}
.circle-label {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  padding: 10px;
  background: #fff;
  border: 3px solid #000;
  color: #000;
  text-align: center;
  font: 15px Arial, sans-serif;
}

.processflow-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.processflow-item-divider {
  flex-grow: 1;
  border-bottom: 1px solid black;
  margin: 5px;
}

.processflow-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
