<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="processflow">
      <div class="divided">
        <span class="circle">1</span><span class="divider"></span
        ><span class="circle">2</span>

        <div class="grid-item"><span class="circle">2</span></div>
        <div class="grid-item"><span class="circle">3</span></div>
        <div class="grid-item"><span class="circle">4</span></div>

        <div class="grid-item">Warenauswahl</div>
        <div class="grid-item">Warenkorb</div>
        <div class="grid-item">Waren bezahlen</div>
        <div class="grid-item">Waren versenden</div>
      </div>
    </div>
    <span class="circle">1</span><span class="divider">fdgdf</span
    ><span class="circle">2</span>

    <div class="divided">
      <div class="myItemContainer">
          <div class="myItem circle">1</div>
          <div class="myItem grid-item">Warenauswahl</div>
      </div>
      <span class="divider"></span>
      <span class="circle">2</span>
      <span class="divider"></span>
      <span class="circle">3</span>
      <span class="divider"></span>
      <span class="circle">4</span>
    </div>
  </body>
</html>
