<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="processflow">
      <div class="grid-container">
        <div class="grid-item"><span class="circle">1</span></div>
        <div class="grid-item"><span class="circle">2</span></div>
        <div class="grid-item"><span class="circle">3</span></div>
        <div class="grid-item"><span class="circle">4</span></div>
        <div class="grid-item">Warenauswahl</div>
        <div class="grid-item">Warenkorb</div>
        <div class="grid-item">Waren bezahlen</div>
        <div class="grid-item">Waren versenden</div>
      </div>
    </div>
  </body>
</html>
